<% if signed_in? %>
 <div class="row">
 	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	  <%= render 'shared/user_info' %>
	  <%= render 'shared/stats' %>
	  <%= render 'shared/micropost_form' %>
    </div>
    <div class="col-sm-8 blog-main">
      <%= render 'shared/feed' %>
    </div>
</div>

<% else %>
<div class="jumbotron">
      <div class="container">
        <h1>Welcome to Twitter.</h1>
        <p>Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.</p>
        <p><%= link_to 'Sign up now!', signup_path, class: 'btn btn-primary btn-lg' %></p>
      </div>
    </div>
<% end  %>